.anchorStyle {
    padding-left: 10%;
    text-decoration: none;
    color: #000;
}

.text_activated{
  color: red;
  background-color: #0000001b;
  font-size: 5vh;
  word-wrap:normal;
  transition: 0.5s;
}

